.root {
  //background-image: url('./../../../assets/images/common/gradient2.png');
  @apply bg-gray-100;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
